{% extends "base.html" %}

{% block body %}
<div class="flex items-center justify-center min-h-screen px-4">
    <div class="card w-full max-w-md bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="text-2xl font-bold text-center">TradeCode Risovka</h2>
            <p class="text-center text-sm opacity-70">Legit Check</p>

            <form method="post" action="/login" class="space-y-4 mt-4">
                <input name="username" placeholder="Логин" class="input input-bordered w-full" required>
                <input type="password" name="password" placeholder="Пароль" class="input input-bordered w-full" required>

                <button class="btn btn-primary w-full">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}